<div class="details-block-title">
  <h2>Let's check note out!</h2>
</div>
<hr>
<a [routerLink]="'edit'">
  <div class="details-text">
    <div>
      <h1>{{noteDetail.name}}</h1>
    </div>
    <p>{{noteDetail.description}}</p>
  </div>
</a>
<div class="details-buttons-row1">
  <button class="button" mat-raised-button type="button" color="primary" (click)="onMarkAsDone()">
    <mat-icon>check_box</mat-icon>
    Done</button>
  <button class="button" mat-raised-button type="button" (click)="onDeleteNote()">
    <mat-icon>delete_forever</mat-icon>
    Delete</button>
</div>
<div class="details-buttons-divider">
  <hr>
</div>
<div class="details-buttons-row2">
  <a class="button" mat-raised-button color="primary"
     href="mailto:test@test.com?subject={{noteDetail.name}}&body={{noteDetail.description}}">
    <mat-icon>email</mat-icon>
    Send</a>
  <input #uploadFile type="file">
  <button type="button" class="button" mat-raised-button (click)="uploadFile.click()">
    <mat-icon>add_photo_alternate</mat-icon>
    Upload</button>
</div>
